<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Grunticon App</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />	

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css">
		
	<script src="js/libs/modernizr.custom.js"></script>
	<script src="js/libs/require.js" data-main="js/grunticon-ui.min"></script>

</head>
<body>
	<div class="container" role="main">
		<h1 class="page-header">Grunticon App <span class="fg">Brought to you by <a href="http://www.filamentgroup.com"><img src="img/logo_filament-group.png"></a></span></h1>
		
		
		<p>Grunticon makes it easy to use HD-ready (retina) vector illustrations, icons, and background images in your web project without the hassles of spotty browser compatibility. The tool processes a set of SVG files, generates PNG fallback images for legacy browsers, and exports a demo page showing how to use the final icons. Visit the <a href="https://github.com/filamentgroup/grunticon">GitHub repo</a> for the command line version or to learn more about how grunticon works</p>

		<p>To start, export SVG files for each image, drop them into the box below, then click the 'Download zip" button to grab the files.</p>
		
		<div class="row" id="supported">
			<div class="span12">
				<div class="alert alert-error">Your browser does not support all the functionality needed to run the full version of this application. It is suggested that you use the latest version of Chrome.</div>
			</div>
		</div>
		
		<div class="row" id="upload">
			<div class="container">
				<div class="row">
					<div class="span9">
						<h3>Drag &amp; drop SVGs here...</h3>
					</div>
					<div id="download-btn" class="span3">
							<a href="#" class="btn btn-success btn-large" id="download">Download Grunticons</a>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="row">
			<div class="span12">
				
				<div id="file-list">
					<h3>SVGs Uploaded</h3>
					<ul>
						<script type="text/template" id="file-list-template">
							<li <% !valid && print("class='invalid'") %> >
								<strong><%= file.name %></strong> (<%= file.type %>) <%= file.size %> bytes
								<a href='#close' class='close' title='Remove file' data-file='<%= id %>'>
					                <i class='icon icon-remove'></i>
					              </a>
							</li>
						</script>
					</ul>
				</div>
				<div id="results">
					
					
					<h3>Image Preview</h3>
					<div id="svg-icons-results"></div>
					<script type="text/template" id="svg-icons-template">
						<div>
							<div class="meta">
								<h5><%= name %></h5>
								<p><%= file.size %> bytes<p>
							</div>
							<img src="<%= svgDataUri %>" alt="" />
							<a href='#close' class='close' title='Remove file' data-file='<%= id %>'>
				                <i class='icon icon-remove'></i> Remove
				              </a>
						</div>
					</script>
					
					
					<h3>Export Preview</h3>
					
					<h4>icons.data.svg.css</h4>
					<pre id="svg-css-results"></pre>
<script type="text/template" id="svg-css-template">
.icon-<%= name %> {
	background-image: url('<%= svgDataUri %>');
	background-repeat: no-repeat;
}
</script>
					
					<h4>icons.data.png.css</h4>
					<pre id="png-css-results"></pre>
<script type="text/template" id="png-css-template">
.icon-<%= name %> {
	background-image: url('<%= pngDataUri %>');
	background-repeat: no-repeat;
}
</script>

					<h4>icons.fallback.css</h4>
					<pre id="fallback-css-results"></pre>
<script type="text/template" id="fallback-css-template">
.icon-<%= name %> {
	background-image: url('png/<%= name %>.png');
	background-repeat: no-repeat;
}
</script>
					
					<h4>preview.html</h4>
					<pre id="preview-html">
&lt;!doctype HTML>
&lt;html>
	&lt;head>
		&lt;title>Icons Preview!&lt;/title>
		&lt;script>
	/* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */
window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!!t.document.createElementNS&&!!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect&&!!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1"),A=function(A){var o=t.document.createElement("link"),r=t.document.getElementsByTagName("script")[0];o.rel="stylesheet",o.href=e[A&&n?0:A?1:2],r.parentNode.insertBefore(o,r)},o=new t.Image;o.onerror=function(){A(!1)},o.onload=function(){A(1===o.width&&1===o.height)},o.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
grunticon( [ "icons.data.svg.css", "icons.data.png.css", "icons.fallback.css" ] );
		&lt;/script>
	&lt;noscript>&lt;link href="icons.fallback.css" rel="stylesheet">&lt;/noscript>
	&lt;/head>
	&lt;body>
		<span id="example-html-results"></span>
	&lt;/body>
&lt;/html>
					</pre>
<script type="text/template" id="example-html-template">
	<pre><code>.icon-<%= name %>:</code></pre><div class="icon-<%= name %>" style="width: <%= width %>px; height: <%= height %>px"></div><hr/>
</script>
				</div>
			</div>
		</div>

	</div>
	
	<div class="drop-note">
		<h3>Drop files anywhere to add them</h3>
	</div>

</body>
</html>
