html,
body { 
	height: 100%;
	font-family: monospace; 
}
body {
    background: #fff;
    -webkit-transition: background .5s ease;
    -moz-transition: background .5s ease;
    transition: background .5s ease;
}
a {
	text-decoration:none;
	color: #69c;
}

.logo {
	width: 22em;
	height: 21em;
	max-height: none;
	overflow: hidden;
	margin: 2em auto 0;
	font-size: 1.2em;
	position: relative;
}
.logo>i {
	font-size: 1.4em;
	position: absolute;
	top: 7em;
	width: 4em;
	height: 4em;
	border-radius: 100%;
	background: black;
	left: 5.5em;
}
.logo>i>i {
	font-size: 1em;
	position: absolute;
	top: .5em;
	width: 3em;
	height: 3em;
	border-radius: 100%;
	background: blue;
	left: .5em;
}
.logo>i>i>i {
	position: absolute;
	top: .55em;
	width: 1em;
	height: 1em;
	border-radius: 100%;
	background: yellow;
	left: .55em;
	border: solid .5em red;
}
.logo .two {
	display: none;
}
.logo:hover .one {
	display: none;
}
.logo:hover .two {
	display: inline;
}



@-moz-keyframes blinkout {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
}
@-o-keyframes blinkout {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
}
@-webkit-keyframes blinkout {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
}
@-ms-keyframes blinkout {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
}
@keyframes blinkout {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
}

.logo .one {
   -webkit-animation: blinkout 5s infinite;
   -moz-animation: blinkout 5s infinite;
   -ms-animation: blinkout 5s infinite;
   -o-animation: blinkout 5s infinite;
   animation: blinkout 5s infinite;
}


.instructions {
	text-align: center;
	font-family: monospace;
	font-size: 1.8em;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2246.753px%22%20height%3D%2266.234px%22%20viewBox%3D%220%200%2046.753%2066.234%22%20enable-background%3D%22new%200%200%2046.753%2066.234%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M37.1%2C57.272%0D%0A%09c-1.077-21.275-16.541-34.158-24.017-46.09%22/%3E%0D%0A%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M22.253%2C9.475c-2.547%2C0-10.835-2.749-12.808-0.005%0D%0A%09C7.225%2C12.561%2C8.28%2C22.578%2C8.28%2C28.252%22/%3E%0D%0A%3C/svg%3E%0D%0A');
	background-position: right top;
	background-repeat: no-repeat;
	padding-right: 1em;
	width: 60%;
	margin: 0 auto;
	padding-top: 1em;
	overflow: visible;
}

.by {
	font-family: arial, san-serif;
	width: 100%;
	font-size: .8em;
	color: #ccc;
	padding:1.5em 2em;
	background-color: #999;
	margin-top: 9em;
	text-align: center;
	margin-left:-1em;
}
.fg a {
	display: block;
	margin: .5em 0 0;
}
.fg a img {
	margin: 0;
	height:30px;
}
.witheric {
	color: #eee;
	display: block;
	margin-top:.8em;
}
.dragover { background: rgba(0,0,0,.1) }

.drop-note {
	display:none;
}

.wat {
	position: fixed;
	top: 0;
	right: 2em;
	font-family: arial, san-serif;
}

.dragover .drop-note {
	position:absolute;
	bottom:0;
	left:0;
	display:block;
	width:100%;
	background-color:rgba(0,0,0,.7);
	color:#fff;
	font-size:1.6em;
	text-align:center;
	padding:.1em;
}
.dragover .drop-note h3 {
	margin:.2em;
}



#file-list,
#results,
#download-btn{ display: none }

pre {
    max-height: 15em;
    overflow-y: scroll;
}

.page-header {
	background-color: #f7f8f8;
	padding:.6em;
	margin:0 0 1em 0;
	color:#6DA242;
}
.page-header .fg {
	float:right;
	font-size:.4em;
	color:#aaa;
	font-weight:normal;
}
.page-header .fg img {
	height:30px;
	margin:3px 0 0 5px;
}

#upload {
	margin-bottom:0;
}
#upload .container { 
	padding: 1em 0;
	color:#bbb;
}

#upload h3 {
    text-align: center;
    border-radius: 5px;
    padding: 1.5em;
	margin-top:.5em;
	-moz-box-shadow:    inset 0 0 20px rgba(0,0,0,.18);
	-webkit-box-shadow: inset 0 0 20px rgba(0,0,0,.18);
	box-shadow:         inset 0 0 20px rgba(0,0,0,.12);
    -webkit-transition: border-color .5s ease;
    -moz-transition: border-color .5s ease;
    transition: border-color .5s ease;
	color:#ccc;
}

.dragover #upload h3 { border-color: #06c }

.draganddrop.blobconstructor.filereader #supported { display: none }

.invalid {
    text-decoration: line-through;
    color: #666;
}

/* Thanks Dan Cederholm http://blog.typekit.com/2011/02/10/type-study-an-all-css-button/ */
.get-it {		
	display: inline-block;
	padding:0;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow:
		0 8px 0 #1a74a1,
		0 15px 1px rgba(0,0,0,.15);
	-moz-box-shadow:
		0 8px 0 #1a74a1,
		0 15px 1px rgba(0,0,0,.15);
	box-shadow:
		0 8px 0 #e036d4,
		0 15px 1px rgba(0,0,0,.1);
	-webkit-transition: -webkit-box-shadow .2s ease-in-out;
	-moz-transition: -moz-box-shadow .2s ease-in-out;
	-o-transition: -o-box-shadow .2s ease-in-out;
	transition: box-shadow .2s ease-in-out;
	position:absolute;
	top: 12em;
	right:2em;
	}
.get-it span {	
	display: inline-block;
	color:#fff;
	padding: .5em 2em;
	font-family: arial, cursive;
	font-weight:bold;
	font-size:2em;
	line-height: 1;
	text-shadow: 0 -1px 1px rgba(0,0,0,.3);
	background: #f763ec;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,.15);
	-moz-box-shadow: inset 0 -1px 1px rgba(255,255,255,.15);
	box-shadow: inset 0 -1px 1px rgba(255,255,255,.15);
	-webkit-transition: -webkit-transform .2s ease-in-out;
	-moz-transition: -moz-transform .2s ease-in-out;
	-o-transition: -o-transform .2s ease-in-out;
	transition: transform .2s ease-in-out;
	}
.get-it:hover {	
	-webkit-box-shadow: 
		0 8px 0 #e036d4,
		0 12px 0 rgba(0,0,0,.3);
	-moz-box-shadow: 
		0 8px 0 #e036d4,
		0 12px 0 rgba(0,0,0,.3);
	box-shadow: 
		0 8px 0 #e036d4,
		0 12px 0 rgba(0,0,0,.1);
	}
.get-it:hover span {	
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	-o-transform: translate(0, 4px);
	transform: translate(0, 4px);
	}



#results {
	margin-top:-3em;
}
#file-list {
	display:none !important;
}

h3 {
	margin-top: 2.5em;
	margin-bottom:1em;
}
#svg-icons-results {
	margin-bottom:2em;
	margin-top:6em;
}
#svg-icons-results div {
	background-color:#eee;
	padding:.6em;
	margin:0 0 2px 0;
}
#svg-icons-results div:hover {
	background-color:#fff;
}
#svg-icons-results div:hover .meta {
	background-color:#fff;
}
#svg-icons-results .meta {
	display: inline-block;
	margin:0;
	width:30%;
	padding:0;
	vertical-align:top;	
	font-family: arial, san-serif;
}
#svg-icons-results .meta h5 {
	margin:0;
	
}
#svg-icons-results .meta p {
	margin: .1em 0 .5em 0;
	color: #888;
	font-size:.7em;
}
#svg-icons-results .close {
	font-family: arial, san-serif;
    float: right;
    font-size: 1em;
	margin-top:.6em;
	font-size:.8em;
	padding-right:1em;
	color:#bbb;
}
#svg-icons-results img {
	display: inline-block;
	vertical-align:top;
}
