html,
body { height: 100% }
body {
    background: #fff;
    -webkit-transition: background .5s ease;
    -moz-transition: background .5s ease;
    transition: background .5s ease;
}

.dragover { background: rgba(0,0,0,.1) }

.drop-note {
	display:none;
}

.dragover .drop-note {
	position:absolute;
	bottom:0;
	left:0;
	display:block;
	width:100%;
	background-color:rgba(0,0,0,.7);
	color:#fff;
	font-size:1.6em;
	text-align:center;
	padding:.1em;
}
.dragover .drop-note h3 {
	margin:.2em;
}

#file-list,
#results,
#download-btn{ display: none }

pre {
    max-height: 15em;
    overflow-y: scroll;
}

.page-header {
	background-color: #f7f8f8;
	padding:.6em;
	margin:0 0 1em 0;
	color:#6DA242;
}
.page-header .fg {
	float:right;
	font-size:.4em;
	color:#aaa;
	font-weight:normal;
}
.page-header .fg img {
	height:30px;
	margin:3px 0 0 5px;
}

#upload {
	margin-bottom:0;
}
#upload .container { 
	padding: 1em 0;
	color:#bbb;
}

#upload h3 {
    text-align: center;
    border-radius: 5px;
    padding: 1.5em;
	margin-top:.5em;
	-moz-box-shadow:    inset 0 0 20px rgba(0,0,0,.18);
	-webkit-box-shadow: inset 0 0 20px rgba(0,0,0,.18);
	box-shadow:         inset 0 0 20px rgba(0,0,0,.12);
    -webkit-transition: border-color .5s ease;
    -moz-transition: border-color .5s ease;
    transition: border-color .5s ease;
	color:#ccc;
}

.dragover #upload h3 { border-color: #06c }

.draganddrop.blobconstructor.filereader #supported { display: none }

.invalid {
    text-decoration: line-through;
    color: #666;
}

#download {
	margin-top:.5em;
	font-size:2em;
	line-height:120%;
	font-weight:bold;
	padding:.8em;
}
#results {
	margin-top:-3em;
}
#file-list {
	display:none !important;
}

h3 {
	margin-top: 2.5em;
	margin-bottom:1em;
}
#svg-icons-results {
	margin-bottom:2em;
}
#svg-icons-results div {
	background-color:#eee;
	padding:.6em;
	margin:0 0 2px 0;
}
#svg-icons-results div:hover {
	background-color:#fff;
}
#svg-icons-results div:hover .meta {
	background-color:#fff;
}
#svg-icons-results .meta {
	display: inline-block;
	margin:0;
	width:30%;
	padding:0;
	vertical-align:top;	
}
#svg-icons-results .meta h5 {
	margin:0;
}
#svg-icons-results .meta p {
	margin:-.3em 0 .5em 0;
	color: #888;
	font-size:.8em;
}
#svg-icons-results .close {
    float: right;
    font-size: 1em;
	margin-top:.7em;
	font-size:.9em;
	padding-right:1em;
}
#svg-icons-results img {
	display: inline-block;
	vertical-align:top;
}
