<div class="input-box"><label>datasvgcss</label> <input type="text" name="datasvgcss" value="{{ datasvgcss }}" /></div>
<div class="input-box"><label>datapngcss</label> <input type="text" name="datapngcss" value="{{ datapngcss }}" /></div>
<div class="input-box"><label>urlpngcss</label> <input type="text" name="urlpngcss" value="{{ urlpngcss }}" /></div>
<div class="input-box"><label>previewhtml</label> <input type="text" name="previewhtml" value="{{ previewhtml }}" /></div>
<div class="input-box"><label>loadersnippet</label> <input type="text" name="loadersnippet" value="{{ loadersnippet }}" /></div>
<div class="input-box"><label>customselectors</label> <input type="text" name="customselectors" value="{{ json customselectors }}" /></div>
<div class="input-box"><label>cssprefix</label> <input type="text" name="cssprefix" value="{{ cssprefix }}" /></div>
<div class="input-box"><label>colors<a href="#color-note">*</a></label> <input type="text" name="colors" value="{{ json colors }}" /></div>
<div class="input-box"><label>dynamicColorOnly</label> <input type="text" name="dynamicColorOnly" value="{{ json dynamicColorOnly }}" /></div>
<div class="input-box"><label>pngfolder</label> <input type="text" name="pngfolder" value="{{ pngfolder }}" /></div>
<div class="input-box"><label>pngpath</label> <input type="text" name="pngpath" value="{{ pngpath }}" /></div>

<div style="clear:both"></div>

<label>template</label>
<textarea name="template"rows="5">{{ template }}</textarea>


<div style="clear:both"></div>

{{#if fromStorage }}
	<p class="from-storage">Grumpiconfig saved in <code>localStorage</code>. <a href="#" class="reset">Reset to factory setting</a>.</p>
{{/if}}

<p>See the <a href="https://github.com/filamentgroup/grunticon#options">grunticon options</a> for the deets.</p>
<p id="color-note"><small>* colors must be set before dropping SVGs.</small></p>

<a href="#close" class="close" title="Close">Close</a>